body{
    background: #2AE5FE;
}
.wrap {
    background: #C23D4C;
    width: 800px;
    padding: 40px;
    margin: 40px auto;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    border: 1px solid #ddd;
    padding: 15px;
    width: 760px;
}
input[type="submit"]{
    background: green;
    color: #fff;
    border: none;
    padding: 15px;
        
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{outline: none; border-color: black;
    
}